{
 :ir {
  :package "phlox"
  :files {
   "phlox.main" {
    :ns {
     :type :expr, :time 1499755354983, :id "rkQBo_Yc6Hb"
     :data {
      "T" {:type :leaf, :author "root", :time 1499755354983, :text "ns", :id "S1ESouY9pSW"}
      "j" {:type :leaf, :author "root", :time 1499755354983, :text "phlox.main", :id "HJHriOFcTHZ"}
      "r" {
       :type :expr, :time 1499755354983, :id "BJ8SodF9prb"
       :data {
        "T" {:type :leaf, :author "root", :time 1499755354983, :text ":require", :id "SkPHjOK96rZ"}
        "y" {
         :type :expr, :time 1499755354983, :id "SyLDodYcTS-"
         :data {
          "T" {:type :leaf, :author "root", :time 1499755354983, :text "[]", :id "ryDvs_K96rb"}
          "j" {:type :leaf, :author "root", :time 1508556737455, :text "phlox.updater", :id "B1_vsuK96r-"}
          "r" {:type :leaf, :author "root", :time 1499755354983, :text ":refer", :id "BJKvodKcTB-"}
          "v" {
           :type :expr, :time 1499755354983, :id "Hy5woOKqTHb"
           :data {
            "T" {:type :leaf, :author "root", :time 1499755354983, :text "[]", :id "HJjDjuFqpSb"}
            "j" {:type :leaf, :author "root", :time 1499755354983, :text "updater", :id "SJhwiOY5TB-"}
           }
          }
         }
        }
        "yT" {
         :type :expr, :time 1499755354983, :id "BJawo_tcaHW"
         :data {
          "T" {:type :leaf, :author "root", :time 1499755354983, :text "[]", :id "HJ0DiuF5aSZ"}
          "j" {:type :leaf, :author "root", :time 1499755354983, :text "phlox.schema", :id "rJJOoOY5pS-"}
          "r" {:type :leaf, :author "root", :time 1499755354983, :text ":as", :id "rye_i_FqTBb"}
          "v" {:type :leaf, :author "root", :time 1499755354983, :text "schema", :id "SJbujOK96rW"}
         }
        }
        "yy" {
         :type :expr, :by "root", :at 1514441678897, :id "BJgPRjWGQf"
         :data {
          "T" {:type :leaf, :by "root", :at 1514441679853, :text "[]", :id "BJgPRjWGQfleaf"}
          "j" {:type :leaf, :by "root", :at 1514441683940, :text "verbosely.core", :id "BkgdAjZGQf"}
          "r" {:type :leaf, :by "root", :at 1514441685528, :text ":refer", :id "Bkz2AoWMmz"}
          "v" {
           :type :expr, :by "root", :at 1514441685735, :id "SJWRRiWzQf"
           :data {
            "T" {:type :leaf, :by "root", :at 1514441685980, :text "[]", :id "HkeCAobGmG"}
            "j" {:type :leaf, :by "root", :at 1514441687202, :text "log!", :id "HJV0RjZMmM"}
           }
          }
         }
        }
       }
      }
     }
    }
    :defs {
     "dispatch!" {
      :type :expr, :time 1499755354983, :id "SytOodK9pSZ"
      :data {
       "T" {:type :leaf, :author "root", :time 1499755354983, :text "defn", :id "rJ5_idt5TBW"}
       "j" {:type :leaf, :author "root", :time 1499755354983, :text "dispatch!", :id "B1i_oOY9pHW"}
       "r" {
        :type :expr, :time 1499755354983, :id "BJhOjOYqpSW"
        :data {
         "T" {:type :leaf, :author "root", :time 1499755354983, :text "op", :id "HyT_suY56Bb"}
         "j" {:type :leaf, :author "root", :time 1499755354983, :text "op-data", :id "S1AdidYc6Hb"}
        }
       }
      }
     }
     "main!" {
      :type :expr, :time 1499755354983, :id "Hkl6i_F5aBb"
      :data {
       "T" {:type :leaf, :author "root", :time 1499755354983, :text "defn", :id "ByW6ouF5Trb"}
       "j" {:type :leaf, :author "root", :time 1499755354983, :text "main!", :id "H1Gpo_YqaHb"}
       "r" {
        :type :expr, :time 1499755354983, :id "BkX6juY5aB-"
        :data {}
       }
       "yT" {
        :type :expr, :time 1499755354983, :id "H1vRoOF5pSZ"
        :data {
         "T" {:type :leaf, :author "root", :time 1499755354983, :text "println", :id "H1dAiOtqpBZ"}
         "j" {:type :leaf, :author "root", :time 1499755354983, :text "|App started.", :id "Byt0idYcaHW"}
        }
       }
      }
     }
     "mount-target" {
      :type :expr, :time 1499755354983, :id "B1qRjdF9aH-"
      :data {
       "T" {:type :leaf, :author "root", :time 1499755354983, :text "def", :id "S1oAjut5TBZ"}
       "j" {:type :leaf, :author "root", :time 1499755354983, :text "mount-target", :id "rJ2Cj_t5aBZ"}
       "r" {
        :type :expr, :time 1499755354983, :id "HJpAjOY5arZ"
        :data {
         "T" {:type :leaf, :author "root", :time 1499755354983, :text ".querySelector", :id "HyRCs_tqpH-"}
         "j" {:type :leaf, :author "root", :time 1499755354983, :text "js/document", :id "ryy1ejdFq6SW"}
         "r" {:type :leaf, :author "root", :time 1499755354983, :text "|.app", :id "B1gygs_t56rW"}
        }
       }
      }
     }
     "reload!" {
      :type :expr, :time 1499755354983, :id "Sk5qouK9aBZ"
      :data {
       "T" {:type :leaf, :author "root", :time 1499755354983, :text "defn", :id "Hksqidt5TBZ"}
       "j" {:type :leaf, :author "root", :time 1499755354983, :text "reload!", :id "SJ3qidY5TBb"}
       "r" {
        :type :expr, :time 1499755354983, :id "rJa9idt9TH-"
        :data {}
       }
       "y" {
        :type :expr, :time 1499755354983, :id "HJXoiuY9THb"
        :data {
         "T" {:type :leaf, :author "root", :time 1499755354983, :text "println", :id "HyVosdFqaBb"}
         "j" {:type :leaf, :author "root", :time 1499755354983, :text "|Code updated.", :id "BkHisOK5TSZ"}
        }
       }
      }
     }
    }
    :proc {
     :type :expr, :time 1499755354983, :id "SkGujdK5aSW"
     :data {
      "T" {
       :type :expr, :time 1499755354983, :id "Bk7ds_t5TBb"
       :data {
        "T" {:type :leaf, :author "root", :time 1499755354983, :text "set!", :id "SJ4_i_Y9TH-"}
        "j" {
         :type :expr, :time 1499755354983, :id "rkrdodtcTHW"
         :data {
          "T" {:type :leaf, :author "root", :time 1499755354983, :text ".-onload", :id "H1Ldo_FcpH-"}
          "j" {:type :leaf, :author "root", :time 1499755354983, :text "js/window", :id "BJP_idK9arW"}
         }
        }
        "r" {:type :leaf, :author "root", :time 1499755354983, :text "main!", :id "Sku_ouK9aH-"}
       }
      }
     }
    }
   }
   "phlox.schema" {
    :ns {
     :type :expr, :time 1499755354983, :id "rJxieodtqarW"
     :data {
      "T" {:type :leaf, :author "root", :time 1499755354983, :text "ns", :id "HyWslouK56HZ"}
      "j" {:type :leaf, :author "root", :time 1499755354983, :text "phlox.schema", :id "SkGsgsOtcTBb"}
     }
    }
    :defs {
     "store" {
      :type :expr, :time 1499755354983, :id "HkEjgouFcpBW"
      :data {
       "T" {:type :leaf, :author "root", :time 1499755354983, :text "def", :id "ryBoejdY5arb"}
       "j" {:type :leaf, :author "root", :time 1499755354983, :text "store", :id "H1Iils_Y96BZ"}
       "r" {
        :type :expr, :time 1499755354983, :id "ryviloOFc6B-"
        :data {
         "T" {:type :leaf, :author "root", :time 1499755354983, :text "{}", :id "Bkuogo_F9pr-"}
         "j" {
          :type :expr, :time 1499755354983, :id "BkYogiuK9TBZ"
          :data {
           "T" {:type :leaf, :author "root", :time 1499755354983, :text ":states", :id "By5oeoOY5pBb"}
           "j" {
            :type :expr, :time 1499755354983, :id "H1iieoOKqTSZ"
            :data {
             "T" {:type :leaf, :author "root", :time 1499755354983, :text "{}", :id "Hyhixo_F9prb"}
            }
           }
          }
         }
         "r" {
          :type :expr, :time 1499755354983, :id "B1aixsdK9pHb"
          :data {
           "T" {:type :leaf, :author "rJG4IHzWf", :time 1512359514709, :text ":content", :id "BJ0oxjdFq6rb"}
           "j" {:type :leaf, :author "rJG4IHzWf", :time 1512359516026, :text "|", :id "BJy2go_tcaBZ"}
          }
         }
        }
       }
      }
     }
    }
    :proc {
     :type :expr, :time 1499755354983, :id "rkmjesdF9Trb"
     :data {}
    }
   }
   "phlox.updater" {
    :ns {
     :type :expr, :time 1499755354983, :id "B1Z1gjdFqaBZ"
     :data {
      "T" {:type :leaf, :author "root", :time 1499755354983, :text "ns", :id "SkG1lo_t9pHZ"}
      "j" {:type :leaf, :author "root", :time 1499755354983, :text "phlox.updater", :id "B17kxjdFq6r-"}
     }
    }
    :defs {
     "updater" {
      :type :expr, :time 1499755354983, :id "SkS1lout5aBb"
      :data {
       "T" {:type :leaf, :author "root", :time 1499755354983, :text "defn", :id "H1U1esuY5TBZ"}
       "j" {:type :leaf, :author "root", :time 1499755354983, :text "updater", :id "SJwJxj_Y5aHZ"}
       "r" {
        :type :expr, :time 1499755354983, :id "SkdkeiOK5TBZ"
        :data {
         "T" {:type :leaf, :author "root", :time 1499755354983, :text "store", :id "r1YyxidF96rW"}
         "j" {:type :leaf, :author "root", :time 1499755354983, :text "op", :id "r1cJxouK5aSZ"}
         "r" {:type :leaf, :author "root", :time 1499755354983, :text "op-data", :id "Bkj1ljdY5Tr-"}
        }
       }
       "v" {
        :type :expr, :time 1499755354983, :id "BJ2yxjOKqpHb"
        :data {
         "T" {:type :leaf, :author "root", :time 1499755354983, :text "case", :id "ry61gjOFqpH-"}
         "j" {:type :leaf, :author "root", :time 1499755354983, :text "op", :id "HyAylout56Hb"}
         "r" {
          :type :expr, :time 1499755354983, :id "S1kexiuF9arZ"
          :data {
           "T" {:type :leaf, :author "rJG4IHzWf", :time 1512359657160, :text ":content", :id "S1lxeout56HW"}
           "j" {
            :type :expr, :time 1499755354983, :id "SJ-gxidtcTrZ"
            :data {
             "T" {:type :leaf, :author "rJG4IHzWf", :time 1512359666053, :text "assoc", :id "BkfgesdF9TH-"}
             "j" {:type :leaf, :author "root", :time 1499755354983, :text "store", :id "HJQeloOt5TrZ"}
             "r" {:type :leaf, :author "rJG4IHzWf", :time 1512359660859, :text ":content", :id "HkNexodK9Tr-"}
             "v" {:type :leaf, :author "rJG4IHzWf", :time 1512359663126, :text "op-data", :id "B1eIlwHzbz"}
            }
           }
          }
         }
         "v" {:type :leaf, :author "root", :time 1499755354983, :text "store", :id "S1Lexs_tcpBZ"}
        }
       }
      }
     }
    }
    :proc {
     :type :expr, :time 1499755354983, :id "HJ41lsuY5pSZ"
     :data {}
    }
   }
  }
 }
 :sessions {}
 :users {
  "rJG4IHzWf" {:id "rJG4IHzWf", :name "chen", :nickname "chen", :password "d41d8cd98f00b204e9800998ecf8427e", :avatar nil, :theme :star-trail}
  "root" {:id "root", :name "root", :nickname "root", :password "d41d8cd98f00b204e9800998ecf8427e", :avatar nil, :theme :star-trail}
 }
 :saved-files {}
 :configs {:storage-key "coir.edn", :extension ".cljs", :output "src", :port 6001}
}