{
  :paths ["src" "macros"]
  :deps {
    mvc-works/lilac {:mvn/version "0.1.5"}
    respo/ui {:mvn/version "0.3.14"}
    respo {:mvn/version "0.12.1"}
    cumulo/caches {:mvn/version "0.0.1"}
  }
  :aliases {
    :release {
      :extra-deps {
        appliedscience/deps-library {:mvn/version "0.3.4"}
      }
      :main-opts ["-m" "deps-library.release"]
    }
  }
}