{
  :paths ["src" "macros"]
  :deps {
    mvc-works/lilac {:mvn/version "0.1.5-a2"}
  }
  :aliases {
    :release {
      :extra-deps {
        appliedscience/deps-library {:mvn/version "0.3.4"}
      }
      :main-opts ["-m" "deps-library.release"]
    }
  }
}