{
  :paths ["src" "macros"]
  :deps {
    mvc-works/lilac {:mvn/version "0.1.6"}
    respo/ui {:mvn/version "0.3.15"}
    respo {:mvn/version "0.12.3"}
    cumulo/caches {:mvn/version "0.1.1-a3"}
  }
  :aliases {
    :release {
      :extra-deps {
        appliedscience/deps-library {:mvn/version "0.3.4"}
      }
      :main-opts ["-m" "deps-library.release"]
    }
  }
}