
{:source-paths ["src" "cli"]
 :cache-blockers #{cumulo-util.build}
 :dependencies [[mvc-works/hsl          "0.1.2"]
                [mvc-works/shell-page   "0.1.10"]
                [respo                  "0.10.2"]
                [cumulo/util            "0.1.4"]
                [org.clojure/core.incubator "0.1.4"]]
 :repositories {"central" {:url "https://maven.aliyun.com/nexus/content/groups/public/"}
                "clojars" {:url "https://mirrors.ustc.edu.cn/clojars/"}}
 :open-file-command ["subl" ["%s:%s:%s" :file :line :column]]
 :socket-repl {:port 0}
 :builds {:client {:target :browser
                   :output-dir "target/"
                   :asset-path "./"
                   :modules {:client {:init-fn app.main/main!}}
                   :devtools {:after-load app.main/reload!
                              :http-root "target"
                              :http-port 7000}
                   :compiler-options {:infer-externs :auto}
                   :release {:output-dir "dist/"
                             :module-hash-names 8
                             :build-options {:manifest-name "assets.edn"}}}
          :page {:target :node-script
                 :output-to "target/page.js"
                 :main app.page/main!
                 :devtools {:after-load app.page/main!}}
          :upload {:target :node-script
                   :output-to "target/upload.js"
                   :main app.upload/main!
                   :devtools {:after-load app.upload/main!}}}}
